* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: TTNorms-Regular;
    color: #fff;
    transition: 0.2s;
}

body{
    background-color: #222;
}

:root {
    --footerBG: #6416bc;
    --footerColor: #fff;
}


@font-face {
    font-family: TTNorms-Regular;
    src: url(TTNorms-Regular.otf);
 }
 
 @font-face {
    font-family: TTNorms-Black;
    src: url(TTNorms-Black.otf);
 }

#ImpressionsPixel{
    display:none;
}

/* loader */

/* #loader svg {
    width: 50%;
    margin: auto auto;
    border-radius: 50%;
}

#loader {
    height: 100vh;
    width: 100%;
    display: flex;
    background: #fff;
} */

/* LOADER */

#loaderContainer{
    background-color: #f7f8f9;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1200;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  #loader{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #loader img{
    width: 30vw;
  }
  #loaderDots{
    display: flex;
    margin-top: 2vw;
  }
  #loaderDots div{
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    margin-right:1vw;
    background-color: #6416bc;
    animation-name: dotsAnim;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  .delay1{
    animation-delay: 0.5s;
  }
  .delay2{
    animation-delay: 3s;
  }
  @keyframes dotsAnim {
    0% {
      opacity: .4;
      transform: scale(1, 1);
    }
  
    50% {
      opacity: 1;
      transform: scale(1.2, 1.2);
    }
  
    100% {
      opacity: .4;
      transform: scale(1, 1);
    }
  }
  

header {
    background: #f7f8f9;
    z-index: 90;
    position: relative;
}

header::after {
    content: ""; 
    position:absolute;
    z-index: -1;
    left: calc(50% - 173px);
    top: 31px;
    width: 340px;
    height: 80px;
    background-image: url("waves.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.ortaLogo {
    height: 68px;
    margin-bottom: -43px;
}
.container{
    /* max-width: 1300px; */
    max-width: 90% !important;
}

.secOne {
   /* height: calc(100vh - 67px);
   width: 100%;
   background-color:#3c015d;
   background-size: cover;
   background-position: center bottom; */
   width: 100%;
   height: 100%;
}
.overlay-video{
    z-index: 1;
    display: block;
    /* position: absolute; */
    top: 0;
    left: 0;
  
  }
  .video-hidden{
    display: none;
  }
 /* .background-video-container{
    margin-top: -50px;
 } */
 #content-top{
    position: absolute;
    top: 24vw;
    left: 8vw;
 }
 #content-top .main-title{
    font-family: 'TTNorms-Black';
    font-size: 4vw;
 }

/* .secOne h1 {
    font-family: TTNorms-Black;
    font-size: 45px;
    text-transform: uppercase;  
} */
/* h6 {
    padding-top: 2vh;
}
h5 {
    font-size: 25px;
}
.secOne a {
    color: #ffffff;
    text-decoration: none;
    width: 100%;
    cursor: po;
}
.secOne a:hover{
    text-decoration: none;
}
.secOne .container , .secOne .container .row {
    height: inherit;
}

.secOne .col-md-6 {
    align-self: center;
} */

.cta {
    background: #03bf67;
    padding: 10px 40px;
    color: #fff;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 4px;
    font-weight: 700;
}

.cta:hover {
    transform: scale(1.05);
    color: #fff;
    box-shadow: 0 0 10  px rgba(0, 0, 0, 0.349);
}

.dots {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: calc(100vh - 67px);
    background-image: url("dots.png");
    background-size: 120%;
    background-repeat: no-repeat;
}
.rightCont {
    display: flex;
    align-items: center;
    position: relative;
    width: 25%;
    right: -55%;
    top: -63%;
}

.steps {
    margin-top: -220px;
    background-color: rgba(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 33px 0px;
    z-index: 100;
}
.myContainer{
    max-width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-lg-4{
    display: flex;
}
/* .step-item {
 display: table;
 cursor: pointer;
} */

.img-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-container img{
    position: absolute;
    width: 100%;
    height: auto;
}
.img-container h2{
    position: absolute;
    font-family: TTNorms-Black;
    font-size: 400%;
    padding-left: 25%;
}

.step-item .item {
 display: table-cell;
}

.step-item h3{
    font-family: TTNorms-Black;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.step-item p{
    line-height: 1.1;
    font-size: 17px;
}

.offer-terms{
    font-size: 11px;
    margin-top: 1rem;
}


/* STEPS NEW SECTION */


.steps-new-section{
    background-color: #222;
    display: flex;
    padding: 20px 0;
}
.steps-new-wrapper{
    margin: 0 auto;
    width: 90%;
    max-width: 1920px;
    /* height: 150px; */
    /* max-height: 200px; */
    display: flex;
    flex-direction: row;
    padding: 10px 0;
}
.single-step-wrapper{
    width: 33.33%;
    display: flex;
    align-items: flex-start;
    padding-top: 20px;
}
.step-new-img-container{
    width: 7vw;
    height: 7vw;
    max-width: 110px;
    max-height: 12510px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.steps-new-section h2{
    /* font-size: 6vw; */
    font-size: clamp(1rem, 6vw, 90px);
    font-family: roboto, sans-serif;
    font-weight: 900;
}
.text-container{
    padding-left: 20px;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text-container h3{
    /* font-size: 1.5rem; */
    font-size: clamp(1.5rem, 2vw, 40px);
    font-family: roboto, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}
.text-container p{
    font-family: roboto, sans-serif;
    /* font-size: 1rem; */
    font-size: clamp(1rem, 1vw, 48px);
    margin-bottom: 0;
}


/* NEW CAROUSEL */

.new_carousel{
    padding-bottom: 50px;
    background-color: #000;
  }
  .games-title-container{
    padding: 50px;
  }
  .games-title-container h2{
    font-size: clamp(1.5rem, 2vw, 40px);
    font-family: roboto, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
  }
  .containerSlider{
    position: relative;
    margin-top: 20px;
    max-width: 1400px;
    margin: auto;
  }
  .control{
    list-style: none;
  }
  .tns-item img{
    border-radius: 10px;
  }
  li.prev{
    position: absolute;
    left: 0;
    top: 50%;
    background-color: rgba(0,0,0,0.5);
    padding: 20px 5px;
    transform: translateY(-37px);
    cursor: pointer;
  }
  li.prev:hover, li.next:hover{
    background-color: rgba(0,0,0,0.2);
  }
  li.next{
    position: absolute;
    right: 17px;
    top: 50%;
    padding: 20px 5px;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translateY(-37px);
    cursor: pointer;
  }


/* ////////////////// footer ////////////////// */

#footer {
    background-color: var(--footerBG);
    /* background-color: #222; */
    color: var(--footerColor);
    display: flex;
    padding: 5vw 7.5vw 7vw 3vw;
    position: relative;
    z-index: 101;
}

#footer p {
    margin-top: 0;
    font-family: roboto, sans-serif;

}
#footer .terms-subtitle{
    margin-bottom: 10px;
    line-height: 1.5rem;
    font-size: 1.2vw;
    font-weight: 900 !important;
    font-family: roboto, sans-serif;
}

#footer h6{
    font-size: 1.5vw;
    font-family: roboto, sans-serif;
    margin: 10px 0;
}
#footer .leftSide {
          border-right: 2px solid var(--footerColor);
          text-align: right;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 0 1.7vw;
}

#footer .leftSide .floating .flags {
          display: flex;
          justify-content: flex-end;
}
#footer .leftSide .floating .flags button {
          border: 0;
          background: none;
          margin-left: 0.25vw;
          cursor: pointer;
}
#footer .leftSide .floating .flags .flag {
          display: block;
}
#footer .leftSide .floating .infoPages {
    display: flex;
    flex-direction: column;
    font-family: "Geogrotesque-bold";
    text-transform: uppercase;
    line-height: 2.35;
}

#footer .leftSide .floating .infoPages a {
    color: var(--footerColor);
    text-decoration: none;
}
#footer .rightSide .licence .text {
          font-size: 0.9vw;
          font-family: "Roboto Condensed",sans-serif;
          color: #9a9a9a;
          line-height: 1.5em;

}
#footer .rightSide .licence .text a {
          color: #9a9a9a;
          text-decoration: underline;
}
#footer .leftSide .sinking {
          display: flex;
          justify-content: flex-end;
}
#footer .rightSide .responsible, #footer .rightSide .award {
          justify-content: center;
          padding: 1vw 0.5vw;
          font-size: 1.25vw;
}
#footer .rightSide .paymentProviders, #footer .rightSide .responsible, #footer .rightSide .award {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          border-bottom: 2px solid var(--footerColor);
          border-top: 2px solid var(--footerColor);
}
#footer .rightSide .responsible .responisible-icons-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer .rightSide .responsible .responisible-icons-container .responsible-icons{
    height: 3vh;
}
#footer .rightSide .responsible .responisible-icons-container #over-18-icon{
    width: 47px;
    height: 47px;
}
/* #footer .rightSide .responsible img{
    height: 3vh;
} */

#footer .rightSide .licence {
          display: flex;
}
#footer .rightSide .paymentProviders {
          justify-content: center;
          flex-wrap: wrap;
          /* padding: 0 !important; */
}
#footer .rightSide .paymentProviders img{
    height: 1.95vw;
    /* width: auto; */
    /* margin: 0.6vw; */
    margin: 1vw 1vw 2vw;
    display: block;
}
#footer .rightSide .paymentProviders #trustly{
    height: 4vw;
}
#footer .rightSide .paymentProviders>span {
          margin: 0.6vw;
          display: block;
}
#footer .rightSide .paymentProviders svg {
          height: 1.95vw;
          fill: #ffffff;
}
#footer .rightSide .paymentProviders>span.visa svg, #footer .rightSide .paymentProviders>span.skrill svg, #footer .rightSide .paymentProviders>span.neteller svg {
          height: 1.8vw;
}

#footer .rightSide .paymentProviders svg {
          height: 1.95vw;
          fill: #000000;
          width: auto;
}
#footer svg {
    vertical-align: middle;
}
#footer .responsible a:nth-child(1) svg path ,
#footer .responsible a:nth-child(2) svg path ,
#footer .responsible a:nth-child(4) svg path ,
#footer .responsible a:nth-child(6) svg path ,

.brightness  {
    filter: brightness(2);
}
#footer .rightSide .responsible a, #footer .rightSide .responsible>span, #footer .rightSide .award a, #footer .rightSide .award>span {
          margin: 0.6vw;
          display: block;
          color: #9a9a9a;
}
#footer .rightSide .responsible a .mga svg, #footer .rightSide .responsible>span .mga svg, #footer .rightSide .award a .mga svg, #footer .rightSide .award>span .mga svg {
          height: 2vw;
          margin-top: 0.5vw;
}
#footer .rightSide .responsible a .gambling-commission svg, #footer .rightSide .responsible>span .gambling-commission svg, #footer .rightSide .award a .gambling-commission svg, #footer .rightSide .award>span .gambling-commission svg {
          height: 2vw;
          margin-top: 0.5vw;
}
 
#footer .rightSide .responsible a svg, #footer .rightSide .responsible>span svg, #footer .rightSide .award a svg, #footer .rightSide .award>span svg {
          height: 3vw;
          fill: #ffffff;
}
#footer .rightSide .licence .text {
          font-size: 0.9vw;
          font-family: "Roboto Condensed",sans-serif;
          color: #9a9a9a;
          line-height: 1.5em;
          margin: 1vw 0;
}
#footer .leftSide .sinking .social svg {
          fill: #fff;
          border: 2px solid var(--footerColor);
          border-radius: 50%;
}
.row-st0 {
          fill: #84C7F9;
}
#footer .leftSide .floating .flags .flag svg {
          border-radius: 50%;
}
#footer .rightSide .responsible a .gamble-aware svg, #footer .rightSide .responsible>span .gamble-aware svg, #footer .rightSide .award a .gamble-aware svg, #footer .rightSide .award>span .gamble-aware svg {
    height: 1.5vw;
}
#footer .leftSide .floating .infoPages {
    font-size: 1vw;
}
.ecopayz img{
    width: 90px;
}
.visa{
    filter: brightness(150%);
}


/*################ RESPONSİVE ##################*/

/* MIN WIDTH 2560PX */

/*MIN WIDTH 2560PX */

@media (min-width: 2560px){
    .step-new-img-container {
        max-width: 125px;
        max-height: 125px;
    }
    .steps-new-section{
        max-width: 1600px;
        margin: 0 auto;
    }
    .step-new-img-container{
        max-width: 110px;
        max-height: 110px;
    }
    .steps-new-wrapper{
        max-width: 90%;
    }


    .text-container{
        width: 75%;
        padding-right: 20px;
    }
    .text-container h3{
        font-size: 30px;
    }
    .text-container p{
        font-size: 20px;
        line-height: 25px;
    }
    #content-top{
        margin-top: -20vh;
    }
    h5{
        font-size: 2vw;
    }
    .cta{
        font-size: 1.5vw;
        padding: 1vw 4vw;
        border-radius: 0.4vw;

    }
    .offer-terms{
        font-size: 1vw;
    }
    #footer p{
        margin: 1vw 0 0 0 !important;
    }

}


/* MAX WIDTH 2560PX */

@media (max-width: 2560px){
    #content-top{
        margin-top: -20vh;
    }
    .container{
        max-width: 90%;
    }
    .steps-new-section{
        max-width: 1600px;
        margin: 0 auto;
    }
    .step-new-img-container{
        max-width: 110px;
        max-height: 110px;
    }
    .steps-new-section h2{
        font-size: clamp(1rem, 6vw, 90px);
    }
    h5{
        font-size: 2.5vw;
    }
    .offer-terms{
        font-size: 1vw;
    }
    .cta{
        font-size: 2vw;
        padding: 1vw 4vw;
        border-radius: 0.6vw;
    }
    .text-container{
        width: 70%;
        padding-right: 20px;
    }
    .text-container h3{
        font-size: 30px;
    }
    .text-container p{
        font-size: 20px;
        line-height: 25px;
    }
    /* .background-video-container{
        margin-top: -150px;
    } */
}

/* MAX WIDTH 1920PX */

@media (max-width: 1920px){
    #content-top{
        margin-top: -15vh;
    }
    .step-new-img-container{
        max-width: 100px;
        max-height: 100px;
    }
    .steps-new-section h2{
        font-size: clamp(1rem, 5vw, 70px);
    }
    .text-container{
        width: 70%;
    }
}

/* MAX WIDTH 1600PX */

@media (max-width: 1600px){
    .steps-new-section{
        max-width: 1250px;
    }
    .text-container h3{
        font-size: 23px;
    }
    .text-container p{
        font-size: 16px;
    }
}

/* MAX WIDTH 1440PX */

@media (max-width: 1440px){
    #content-top{
        margin-top: -18vh;
    }
    .steps-new-section{
        max-width: 1150px;
    }
    .step-new-img-container{
        width: 6vw;
        height: 6vw;;
        max-width: 80px;
        max-height: 80px;
    }
    .text-container{
        padding-right: 0;
    }
}

/* MAX WIDTH 1280PX */

@media (max-width: 1280px){
    .text-container h3{
        font-size: clamp(1.3rem, 1.5vw, 48px);
    }
    #content-top{
        margin-top: -15vh;
    }
    .text-container{
        width: 70%;
    }
}
@media (max-width: 1024px) {
    .steps-new-wrapper{
        width: 95%;
    }
    .step-new-img-container{
        width: 7vw;
        height: 7vw;;
        max-width: 80px;
        max-height: 80px;
    }
    #content-top{
        margin-top: -11vh;
    }
}


/* MAX WIDTH 950PX */

@media (max-width: 950px){
    .steps-new-wrapper{
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    .step-new-img-container{
        height: 9vw;
        width: 9vw;
    }
    .single-step-wrapper{
        width: 100%;
        justify-content: center;
    }
    .text-container{
        width: 70%;
        align-self: center;
    }
    #content-top{
        margin-top: -8vh;
    }
    .text-container h3{
        font-size: clamp(1.5rem, 1.5vw, 48px);
    }
}

/* MAX WIDTH 850PX */

@media (max-width: 850px){
    .text-container{
        width: 70%;
    }
}

/* MAX WIDTH 750PX */

@media (max-width: 750px){
    .step-new-img-container{
        height: 9vw;
        width: 9vw;
    }
    #content-top{
        margin-top: -7vh;
    }
}

/* MAX WIDTH 650PX */

@media (max-width: 650px){
    .step-new-img-container{
        height: 12vw;
        width: 12vw;
    }
    .steps-new-section h2{
        font-size: clamp(1rem, 10vw, 120px);
    }
    .steps-new-wrapper{
        width: 100%;
    }

}

/* MAX WIDTH 450PX */

@media (max-width: 450px){
    .step-new-img-container{
        height: 14vw;
        width: 14vw;
    }
}

/* MAX WIDTH 375PX */

@media (max-width: 375px){
    .step-new-img-container{
        height: 15vw;
        width: 15vw;
    }
}


/* OLD RESPONSIVNESS */


@media (max-width: 1464px){
    .steps {
        margin-top: -141px;
        z-index: 100;
    }
    /* #content-top{
        margin-top: -10vh;
    } */
    /* .background-video-container{
        margin-top: -50px;
    } */
}
@media (max-width: 1364px){
    .step-item h3 {
        font-size: 28px;
    }
    .step-item p {
        font-size: 15px;
    }
}
@media (max-width: 1250px){
    
    .steps  .container {
        max-width: 100%;
    }
    /* .secOne .container {
        position: relative;
        z-index: 80;
    } */
 
}



@media (max-width: 1100px){

    .circle {
        width: 9rem;
        height: 9rem;
        top: -35px;
    }
    .circle h2{
        font-size: 50px;
    }
    /* .secOne {
        
        background-image: url("bg-1024.jpg");
        background-size: cover;
        background-position: center bottom;
     } */
     
}
@media (min-width: 2000px){
    .rightCont {
        width: 500px;
    }
}
@media (min-width: 801px){
   .offer-terms{
       margin-bottom: 150px;
   }
   .step-item .img-container img{
    background-color: #e60019;
    border-radius: 50%;
}   

/* .step-item:hover .img-container img{
    background-color: #e60019;
    border-radius: 50%;
}  */
 .step-item .img-container h2{
    padding-left: 0;
}  
/* .step-item:hover .img-container h2{
    padding-left: 0;
}   */
.step-item h3 {
    padding-left: 10px;
}
.step-item p {
    padding-left: 10px;
}
.step-item:hover h3 {
    text-decoration: none;
    transition: 0.3s;
}
}
@media (min-width: 850px) and (max-width: 1100px){

    .rightCont {
        width: 28%;
        right: -65%;
    }
    
    /* .section-a h1 {
        font-size: 2.5vw !important;
    } */
    /* .section-a h5 {
        font-size: 20px !important;
    } */
    /* .cta{
        font-size: 1rem;
    } */
    /* .offer-terms{
        font-size: 10px;
        margin-top: 1rem;
        max-width: 30vw;
    } */
    .alingCenter{
        align-items: center;
    }
    .steps{
        margin-top: -100px;
    }
    .step-item .col-3 {
        align-self: center;
    }
    .img-container h2 {
        /* font-size: 350%; */
        font-size: 4vw;
    }
    .img-container img{
        /* width: 120%; */
        width: 100%;
    }
    .pl-0, .px-0{
        padding-left: 10px !important;
    }
    /* #content-top{
        margin-top: -10vh;
        min-width: 55%;
    } */

 }
@media (min-width: 800px) and (max-height: 700px){
    .secOne {
        height: 600px;
    }

}


@media (max-width: 800px) and (min-width: 765px){
    .secOne .col-md-6 {
        max-width: 100% !important;
     flex: 0 0 100% !important;
    }
    .steps .col-9 {
     margin-left: 0vw !important; 
    }
   
 }


@media (max-width: 850px){
    /* .background-video-container{
        margin-top: 0;
    } */
    .rightCont {
        width: 35vw;
        right: -30vw;
        top: -83%;
    }
    header .logo{
      margin-left: -15px;
      width: 100px;
    }
    /* .section-a {
        background-position: 71% 50%;
        height: calc(105vh - 60px); 
        background-image: url("bg-800.jpg");
        background-image: url("bg-768.png");
        background-size: cover;
        background-position: center bottom;

    } */
    /* #content-top{
        margin-top: -5vh;
    } */
    /* #content-top .main-title{
        font-size: 3vw;
    } */
    /* #content-top h5{
        font-size: 2vw;
    } */
    .dots {
        background-size: cover;
        background-position: 100% 50%;
    }
    header::after {
        left: calc(50% - 154px);
        top: 23px;
        width: 300px;
        height: 80px;
    }
    .ortaLogo {
        height: 60px;
        margin-bottom: -43px;
    }
    .img-container img{
        position: relative;
    }
    .img-container h2{
        font-size: 6vh;
    }
    .steps {
    margin-top: 0 !important;
    position: relative;
    padding-bottom: 8vh;
    z-index: 100;
    }
    #footer{
        position: relative;
        z-index: 101;
        margin-top: 0;
    }
    #euteller{
        width: 19vw!important;
    }
    /* .steps .col-9 {
        margin-left: -3vw;
    } */
    .col-lg-4{
        padding: 10px 0 20px 0 !important;

    }
    .alingCenter .responsive{
        margin-bottom: 2vh;
    }

    .circle {
        width: 15vh;
        height: 15vh;
        position: absolute;
    }
    .circle h2{
        font-size: 50px;
    }
    .step-item h3 {
        font-size: 2.5vh;
    }
    .step-item p {
        font-size: 2vh;
    }
    .step-item img {
        margin-top: -1vh;
        height: 8vh;
        width: auto !important;
    }
    /* .section-a h1 {
        font-size: 10vw;
    } */
    .secOne .col-md-6 {
        padding: 0 8vw;
        text-align: center;
        padding-bottom: 5vh;
    }
    .secOne h5 {
        font-size: 2.7vh;
        line-height: 1.1;
        margin-bottom: 2vh !important;
    }
    .secOne h1 {
        font-size: 3vh;
        line-height: 1.2;
    }
    /* .cta {
        padding: 1vh 3vh;
        font-size: 2.5vh;
    } */
    .alingCenter {
        flex-direction: column !important;
     }

    /* .offer-terms {
        margin-top: 2vh;
        font-size: 1.3vh;
        width: 35vw;
    } */
        .ecopayz img {
        width: 65px;
    }
    .step-item .img-container img{
        background-color: #e60019;
        border-radius: 50%;
    } 
    .step-item .img-container h2{
        padding-left: 0;
    }  
}



@media (max-width: 650px){
    /* .secOne {
        background-image: url("bg-500.jpg");
        background-size: cover;
        background-position: center bottom;
        background-position-y: -100px;
    } */
    .background-video-container{
        margin-top: -10vw;
    }
    #video-bg-1920{
        display: none;
    }
    #video-bg-650{
        display: block;
    }
    .overlay-video{
        z-index: 100 !important;
    }
    #content-top{
        top: 22vw;
        left: 0;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
    }
    #content-top .main-title{
        font-size: 10vw;
        line-height: 11vw;
    }
    #content-top h5{
        font-size: 5vw;
    }
    #content-top .cta{
        font-size: 5vw;
        padding: 2vw 11vw;
    }
    #content-top .offer-terms{
        font-size: 2vw;
        width: 100%;
    }
    .pl-0, .px-0{
        padding-left: 0vw !important;
    }
    /* #content-top{
        margin-top: -5vh;
    }
    .section-a h5 {
        font-size: 2.2vh;
    } */
    
}

@media (max-width:420px){

    .secOne h5 {
        font-size: 2.2vh;
    }
    .step-item h3{
        font-size: 2.4vh;
    }
    #content-top{
        top: 30vw;
    }
    .secOne {
        background-image: url("bg-500.jpg");
        background-size: cover;
        background-position: center bottom;
        background-position-y: -100px;
    }
}

@media (max-width: 391px) {
    .step-item p {
        font-size: 1.9vh;
    }
    .circle {
        width: 15vh;
        height: 15vh;
        position: absolute;
    }
    .img-container h2{
        font-size: 5vh;
    }
    .secOne {
        background-image: url("bg-500.jpg");
        background-size: cover;
        background-position: center bottom;
        background-position-y: -100px;
    }
    /* #content-top{
        margin-top: -45vh;
    } */

 }
@media (max-width: 350px){
    .secOne h1{
        font-size: 2.5vh;
    }
}

 @media (max-width: 301px) {

    .circle {
        width: 14vh;
        height: 14vh;
        position: absolute;
    }
 }
@media (max-width: 425px){
    /* .background-video-container{
        margin
    } */
    #content-top{
        top: 25vw; 
    }
}

@media (max-width: 375px){
    .background-video-container{
        margin-top: -5vw;
    }
    #content-top{
        top: 30vw;
    }
    #content-top .main-title{
        line-height: 13vw;
    }
}


/******************* RESPONSIVE CAROUSEL ************************/


@media  screen and (max-width: 1920px) {
    .containerSlider{
      max-width: 1340px;
    }
    li.next{
      right: 7px;
    }
  }    
  @media  screen and (max-width: 1600px) {
    .containerSlider{
      max-width: 1120px;
    }
    li.next{
      right: 8px;
    }
  }

  @media  screen and (max-width: 1440px) {
    /* .containerSlider{
      max-width: 860px;
    }*/
    li.next{
      right: 0px;
    } 
    .my-slider div{
        max-width: 200px;
        
      }
      .my-slider img{
        width: 100%;
      }
      .containerSlider{
        max-width: 780px;
      }
  }

  @media screen and (max-width:1024px) {
    .my-slider div{
        max-width: 200px;
        
      }
      .my-slider img{
        width: 100%;
      }
      .containerSlider{
        max-width: 781px;
      }
  }

  @media  screen and (max-width: 900px) {
    .containerSlider{
      max-width: 520px;
    }
    .my-slider div{
        max-width: 180px;
        
      }
      .my-slider img{
        width: 100%;
      }
  }
  @media  screen and (max-width: 700px) {
    .containerSlider{
      max-width: 420px;
    }
    .games-title-container h2{
        font-size: 1.8rem;
    }

  }
  @media  screen and (max-width: 699px) {
    .containerSlider{
      max-width: 460px;
    }
    .my-slider div{
        max-width: 160px;
        
      }
      .my-slider img{
        width: 100%;
      }
    
  }
  
  @media screen and (max-width: 550px) {
    .containerSlider{
        max-width: 400px;
    }
    .fa-2x{
        font-size: 1rem !important;
      }
      li.prev{
        left: auto;
      }
      li.next{
        right: 0px;
      }
  }

  @media screen and (max-width: 400px) {
    .containerSlider{
      max-width: 300px;
      padding: 10px;
      margin: auto;
    }
    .my-slider div{
      max-width: 150px;
      
    }
    .my-slider img{
      width: 100%;
    }
    .fa-2x{
      font-size: 1rem !important;
    }
    li.prev{
      left: auto;
    }
    li.next{
      right: 10px;
    }
  }



/*************** RESPONSIVE  FOOTER ***************/


@media (max-width: 1024px){
    
    #footer .leftSide .floating .flags button:first-child {
      margin: 0;
  }    
  #footer .rightSide .licence .text {
            text-align: left;
            line-height: 1.5em;
  }  
  #footer .rightSide .responsible {
            justify-content: space-around;
  }  
  #footer .rightSide .paymentProviders>span {
            display: flex;
            align-items: center;
  }
  #footer .leftSide .floating .flags button:first-child {
      margin: 0;
  }
  }
  @media (min-width: 641px) and (max-width: 1024px){
    
  #footer .rightSide {
      padding: 0.75vw 2.75vw 0;
      width: 63%;
  }   
  #footer .rightSide .paymentProviders {
            flex-wrap: wrap;
            padding-top: 1vw;
  } 
  #footer .leftSide .sinking .social svg {
            width: 3.5vw;
            height: 3.5vw;
            border-width: 1px;
  }
  #footer .leftSide .floating .flags button .flag svg {
            width: 3.5vw;
            height: 3.5vw;
  }    
  #footer .leftSide .floating .flags {
      justify-content: space-between;
  }
  #footer .leftSide .floating .flags button .flag {
      height: 3.5vw;
  }
  #footer .leftSide .floating .infoPages {
      font-size: 1.5vw;
  
  }
  #footer .leftSide {
      width: 37%;
  }
  #footer .rightSide .paymentProviders>span {
      margin: 0 1vw 2.5vw;
  }
  #footer .rightSide .paymentProviders img {
    margin: 2.5vw 1vw 2.5vw;
}
  }

@media (min-width: 1250px){

#footer .rightSide .paymentProviders svg {
    padding: 0.3vw;
}
#footer .rightSide .paymentProviders img {
    padding: 0.1vw;
}
#footer .rightSide .responsible a svg, #footer .rightSide .responsible > span svg, #footer .rightSide .award a svg, #footer .rightSide .award > span svg {
    padding: 0.3vw;
}
}

@media (min-width: 1025px){
    #footer .leftSide {
        width: 25%;
    }
    #footer .rightSide .paymentProviders {
              padding-bottom: 1vw;
    }
    
    #footer .leftSide .floating .infoPages .page {
              transform: scale(1.1, 1) translateX(-1vw);
    }
    #footer .rightSide {
              width: 75%;
              padding: 0vw 0 0 3.5vw;
    }
    #footer .rightSide .paymentProviders {
            padding-bottom: 1vw;
            padding-top: 1vw;
    }
    #footer .rightSide .licence .text {
              width: 100%;
              padding-left: 0.5vw;
              line-height: 1.5em;
    }
    #footer .leftSide .floating .flags .flag {
              height: 1.75vw;
    }
    #footer .leftSide .floating .flags .flag svg {
              width: 1.75vw;
              height: 1.75vw;
              margin: 0 0.5vw;
    }
    #footer .leftSide .sinking .social svg {
              width: 2vw;
              height: 2vw;
    }
    #footer .leftSide {
        width: 25%;
    }
    
    }

    @media (max-width: 800px){
        /* #footer{
            margin-top: 90px;
        } */
        #footer .rightSide .paymentProviders img{
            height: 3vw;
        }
        #footer .rightSide .paymentProviders #trustly{
            height: 5vw;
        }
        #footer .rightSide .licence .text {
            margin: 0vw 2vw;
            font-size: 1.5vw;
            line-height: 1.5em;
  }
  #footer .terms-subtitle{
      font-size: 2vw;
  }
    }


    @media (max-width: 640px){
      #footer {
        flex-direction: column;
        padding: 0;
        /* margin-top: 100px; */
    } 
    #footer .leftSide {
              padding: 0;
              border: 0;
              text-align: center;
    }
    #footer .leftSide .floating .flags {
              justify-content: center;
              padding: 3.9375vw 0;
              border-bottom: 1px solid var(--footerColor);
    } 
    
    #footer .leftSide .floating .infoPages {
              font-size: 4vw;
              font-weight: 700;
              font-family: "Geogrotesque-regular";
              overflow-x: hidden;
    }   
    
    #footer .leftSide .floating .infoPages .page {
              padding: 1vw 0;
              transform: scale(1.1, 1);
              border-bottom: 1px solid var(--footerColor);
    }   
    #footer .leftSide .floating .flags button {
              margin-left: 5.625vw;
    }
    #footer .leftSide .sinking {
              padding: 3.25vw 0;
              justify-content: center;
         
    }
    #footer .rightSide .licence .text {
              margin: 0vw 8vw;
              font-size: 2.5vw;
              line-height: 1.5em;
    }
    #footer .terms-subtitle{
        font-size: 3vw;
    }
    #footer h6{
        font-size: 3.5vw;
        font-family: roboto, sans-serif;
        margin: 10px 0;
    }
    #footer .rightSide .responsible, #footer .rightSide .award {
              flex-wrap: wrap;
              padding: 4vw 15.5vw 1.5vw;
              border-bottom: 1px solid var(--footerColor);
              font-size: 2.5vw;
    }
    #footer .rightSide .responsible a, #footer .rightSide .responsible>span, #footer .rightSide .award a, #footer .rightSide .award>span {
              margin: 1vw 3vw 3.5vw;
    }
    #footer .rightSide .responsible a svg, #footer .rightSide .responsible>span svg, #footer .rightSide .award a svg, #footer .rightSide .award>span svg {
              height: 6vw;
              width: auto;
    }
    #footer .rightSide .responsible a .gamble-aware svg, #footer .rightSide .responsible>span .gamble-aware svg, #footer .rightSide .award a .gamble-aware svg, #footer .rightSide .award>span .gamble-aware svg {
              height: 3vw;
              margin-top: 0.5vw;
    }
    #footer .rightSide .paymentProviders {
              padding: 4vw 4vw 1.5vw;
              border-bottom: 1px solid var(--footerColor);
              border-top: 1px solid var(--footerColor);
    }
    #footer .rightSide .paymentProviders>span {
              margin: 1vw 3vw 3.5vw;
    }
    #footer .rightSide .paymentProviders svg {
              height: 3.25vw;
    }
    #footer .rightSide .paymentProviders img {
        height: 4.25vw;
}
    #footer .rightSide .paymentProviders #trustly{
        height: 8vw;
    }
#footer .leftSide .sinking .social svg {
              width: 6vw;
              height: 6vw;
              border-width: 2px;
    }
    #footer .leftSide .floating .flags button .flag svg {
              width: 5.625vw;
              height: 5.625vw;
    } 
    #footer .rightSide .paymentProviders>span.visa svg, #footer .rightSide .paymentProviders>span.skrill svg, #footer .rightSide .paymentProviders>span.neteller svg {
    height: 2.8vw;
    } 
    }





